.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 225, 237, 0.52);
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .lInput{
    height: 30px;
    padding: 10px;
    width: 500px;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 20px;
  }
  
  .lButton {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
  }

  .lButton:hover{
    background-color: #0071c2b3;
    color: black;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }